extends item_sidebar

block content
  h1 Item: #{title}
  p
    span.bold Name:&nbsp;
    | #{item.name}
  p
    span.bold Description:&nbsp;
    | #{item.description}
  p
    span.bold Category:&nbsp;
    a(href=`/category/${item.categoryid}`) #{item.categoryname}
  p
    span.bold Price:&nbsp;
    | #{item.price}
  p
    span.bold In stock:&nbsp;
    | #{item.instock}
  p
    span.bold Image url:&nbsp;
    | #{item.image_url}

  p
    a(href=`/item/${item.id}/update`) Update

  form(action=`/item/${item.id}/delete`, method="post" onsubmit="return (confirm('Confirm to delete') ? this.submit() : false)")
    button(type="submit") Delete
