extends item_sidebar

block content
  h1= title
  if items.length
    ul
      each item in items
        li
          a(href=`/item/${item.id}`) #{item.name}
          | &nbsp;[
          a(href=`/category/${item.categoryid}`) #{item.categoryname}
          | ]
  else
    p There are no item.