extends category_sidebar

block content
  h1 Category: #{title}
  p
    span.bold Name:&nbsp;
    | #{category.name}
  p
    span.bold Description:&nbsp;
    | #{category.description}

  p
    a(href=`/category/${category.id}/update`) Update

  form(action=`/category/${category.id}/delete`, method="post" onsubmit="return (confirm('Confirm to delete') ? this.submit() : false)")
    button(type="submit") Delete

  h2 All Items
  if items.length
    each item in items
      p
        a(href=`/item/${item.id}`) #{item.name}
  else
    p There is no item.
